PySocks==1.7.1
accelerate==1.14.0
annotated-doc==0.0.5
antlr4-python3-runtime==4.9.3
anyio==4.15.1
av==18.1.0
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
comfy-aimdo==0.5.3
comfy-kitchen==0.2.33
einops==0.8.2
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.30.0
idna==3.20
importlib_metadata==9.0.1
markdown-it-py==4.2.0
mdurl==0.1.2
omegaconf==2.3.1
peft==0.20.0
psutil==7.2.2
regex==2026.9.29
requests==2.34.2
rich==15.0.0
safetensors==0.8.0
scipy==1.18.1
sentencepiece==0.2.2
shellingham==1.5.4
socksio==1.0.0
tokenizers==0.22.2
torchsde==0.2.6
trampoline==0.1.2
transformers==5.15.0
typer==0.27.2
urllib3==2.8.0
zipp==4.1.1
